:root {
    font-family: system-ui, Segoe UI, Roboto, sans-serif;
}

a {
    text-decoration: none;
}
@media (max-width: 768px) {
    .fluent-tabs {
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        padding: 4rem 1rem !important;
    }
}
